@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  /* this defines what 1 rem is */
  font-size: 62.5%; /* 1rem = 10px  10px*16px = 62% */
  font-family: "Orbitron", sans-serif;
}

@media only screen and (max-width: 56.8rem) {
  html {
    font-size: 35%;
  }
}
@media only screen and (max-width: 96.8rem) {
  html {
    font-size: 55%;
  }
}

/* common css  */

/* banner css  */
.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet {
  border-radius: 0px !important;
}

/* navbar css  */
